@model mp_ecommerce.Models.CallBack

@{
    ViewBag.Title = "SuccessPay";
}

<h2>SuccessPay</h2>
<ul>
    <li>
        <strong></strong> @Model.collection_id
    </li>
    <li>
        <strong></strong> @Model.collection_status
    </li>
    <li>
        <strong></strong> @Model.external_reference
    </li>
    <li>
        <strong></strong> @Model.merchant_account_id
    </li>
    <li>
        <strong></strong> @Model.payment_id
    </li>
    <li>
        <strong></strong> @Model.preference_id
    </li>
    <li>
        <strong></strong> @Model.processing_mode
    </li>
    <li>
        <strong></strong> @Model.site_id
    </li>
</ul>
